<!--mgl-timeline>
    <mgl-timeline-entry *ngFor="let entry of entries;">
        <mgl-timeline-entry-header>{{entry.time}}: {{entry.header}}</mgl-timeline-entry-header>
        <mgl-timeline-entry-content>{{entry.content}}</mgl-timeline-entry-content>
        <mgl-timeline-entry-dot 
        [class]="color ? 'primary' : 'accent'" 
        [size]="size"
        (click)="onDotClick($event)"></mgl-timeline-entry-dot>
    </mgl-timeline-entry>
</mgl-timeline-->
<div class="timeline">
  <div *ngFor="let event of events; let i = index">
    <div *ngIf="i % 2 == 0">
      <div class="container left">
        <div class="content">
          <h3>{{eventService.getDateString(event)}}</h3>
          <p>{{event.title}}</p>
          <!------------------------->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">{{event.title}}</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
          </ng-template>
          <!------------------------->
          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">View Details</button>
        </div>
      </div>
    </div>
    <div *ngIf="i % 2 != 0">
      <div class="container right">
        <div class="content">
          <h3>{{eventService.getDateString(event)}}</h3>
          <p>{{event.title}}</p>
          <!------------------------->
          <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">{{event.title}}</h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
          </ng-template>
          <!------------------------->
          <button class="btn btn-lg btn-outline-primary" (click)="open(content)">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>