.card {
    min-width: 250px;
    max-width: 250px;
    height: 450px;
    background: #00000045;
}
.card-text{
    min-height:100px;
    max-height:100px;
}

.btn {
color: whitesmoke;
border-color: whitesmoke;
}
p{
    margin: 0 0 50px 0;
}

