.profile-pic{
    max-width: 250px;
    max-height: 350px;
    filter: grayscale();
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .container {
    padding: 0px 10px;    
    background: #a7b1b1b8;
    height: 100%;
    min-height: -webkit-fill-available;
}