<!--The content below is only a placeholder and can be replaced.-->
<nav-bar></nav-bar>
<div class="row">
  <div class="col-3">
    <div>
        <img src="./assets/images/IMG_3411.JPG" class="img-thumbnail profile-pic"/>
    </div>
    <div>
        <ul>
          <li>
            Email:
          </li>
          <li>
            Phone:
          </li>
          <li>
            LinkedIn:
          </li>
          <li>
            Address:
          </li>
        </ul>
    </div>
  </div>
  <div class="col-9">
    <app-home></app-home>
  </div>
</div>

