.profile-pic{
    max-width: 250px;
    max-height: 350px;
    filter: grayscale(1);
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .container {
    padding: 10px 10px; 
    padding-left: 5%;   
    height: 100%;
    min-height: -webkit-fill-available;
    max-width: 100%;
}


.col-3 {
  height: 100%;
  min-height: -webkit-fill-available;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row {
  max-width: 100%;
}
