<!--The content below is only a placeholder and can be replaced.-->
<div style="background: #454444bd">
<nav-bar></nav-bar>
  <div class="container no-gutters pt-5">
    <div class="row">
      <div class="col-3">
        <div>
          <img src="./assets/images/59908517_457463458331413_1995375044749950976_n.jpg" class="img-thumbnail profile-pic" />
        </div>
        <div>
          <ul class="mt-2">
            <li>
              DanHoganRed@gmail.com
            </li>
            <li>
              (613) 899-3407
            </li>
            <li>
              Edmonton, AB Canada
            </li>
          </ul>
          <div class="row mt-3">
            <div class="col-1 share-icon">
              <a href="https://github.com/DanHoganRed">
                <img src="../assets/images/GitHub-Mark-32px.png">
              </a>
            </div>
            <div class="col-1 mx-2 share-icon">
              <a href="https://www.linkedin.com/in/daniel-hogan-a83030a6">
                <img src="../assets/images/LI-In-Bug_cropped.png">
              </a>
            </div>
            <div class="col-1 share-icon">
              <a href="assets/DanHoganResume_2019_12_04.docx">
                <span class="material-icons md-36" style="font-size: 36px;"><!--TODO figure out why the sizing utility class didn't work.-->
                  description
                  </span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--div class="ui list">
        <div class="item">
          <i class="users icon"></i>
          <div class="content">
            Semantic UI
          </div>
        </div>
        <div class="item">
          <i class="marker icon"></i>
          <div class="content">
            New York, NY
          </div>
        </div>
        <div class="item">
          <i class="mail icon"></i>
          <div class="content">
            <a href="mailto:jack@semantic-ui.com">jack@semantic-ui.com</a>
          </div>
        </div>
        <div class="item">
          <i class="linkify icon"></i>
          <div class="content">
            <a href="http://www.semantic-ui.com">semantic-ui.com</a>
          </div>
        </div>
      </div-->
      <div class="col-12 col-sm-6 col-md-9">
        <app-home></app-home>
      </div>
    </div>
  </div>
</div>