  <h2>
      Welcome to my Resume! 
  </h2>

  <p>
      I am a Software Developer from the Ottawa Ontario. This resume was developed in part to advertise myself but also as a way for me to learn Angular, and I had a blast making it. Check out this websites source code here. If you’re interested in a traditional resume please see the sidebar document download link. My main interests are currently Machine Learning Front-End Development and Mobile Development. Strong back end skills. You can view a full briefing of my skills in the skills section or check out the timeline section to see what programming related activities I’m upto at the moment. Outside interests in Hockey, Super Smash Bros.
  </p> 

  <h3>
      Work Experience  
  </h3>
  <h4>
      Avanade	 	 	 	 	 	 	                      June 2018-Present
  </h4>
  <p>
      Working face-to-face with clients to develop Dynamics 365 solutions to transform their business. Utilizing the .Net framework for development along with Microsoft Azure to setup development environment and Windows Powershell to support automation.
  </p> 
  <h3>
      Education  
  </h3>
  <h4>
      Carleton University	 	 	 	 	 	 	          September 2013-April 2018
  </h4>
  <p>
      Bachelor of Engineering, Software, Coop    
  </p> 
  <h3>
      Coop Positions  
  </h3>
  <h4>
      Core OS Developer                                                                                                               May 2017-August 2017
      Blackberry QNX, Kanata, Ontario       
  </h4>

      <ul>
        <li>
            Developing unit tests for the QNX Kernel in C in order to fulfill ISO 26262 safety compliance. 
        </li>
        <li>
            Improving the unit test framework to support ARM and AARCH64 CPU architectures with knowledge of the GNU C compiler, Makefiles and Linux shell scripts. 
        </li>
        <li>
            Finding, documenting and fixing bugs in the Kernel.
        </li>
      </ul> 
 
  <h4>
      Integration Developer                                                                                              January 2016-December 2016
      TravelClick, Ottawa, Ontario           
  </h4>

      <ul>
        <li>
            Developing, installing and maintaining remote integrations for TravelClick GMS. Development was done using Java 8 in Eclipse using Git for version control. Often required analyzing data and writing queries to extract it.
        </li>
        <li>
            Development of TravelClick Abandonment services which would require writing Javascript to track booking information on hotel websites using JQuery.
        </li>
        <li>
            Working on general tasks often requiring isolating and fixing software bugs or searching through large scale log archives on specific servers using bash.
        </li>
      </ul> 

  <h4>
      Avionics Software Tester                                                                                                     May 2015-August 2015
      Edgewater Computer Systems, Kanata, Ontario             
  </h4>

      <ul>
        <li>
            Writing C code to verify low level requirements for software developed by Edgewater Computer Systems with the use of the LDRA Tool Suite. This testing was done so that the network card part of the CANIC project can become air-worthy by the D0-178B DAL C verification requirements. This included proving calls, verifying data and writing stub functions to simulate the functionality of external functions and forcing code flow. 
        </li>
        <li>
            Training new students and contractors with my testing methods as well as showing them the intricacies of the testing software and evaluating the quality of their work.
        </li>
      </ul> 
