  <h2>
      Welcome to my Resume! 
  </h2>

  <p>
      I am a Software Developer from Ottawa Ontario. This resume was developed in part to advertise myself but also as a way for me to learn Angular and I had a great experience making it! Check out this websites source code <a href="https://github.com/DanHoganRed/Angular-Resume">here</a>. If you’re interested in a traditional resume please see the sidebar document download link. My main interests are currently .Net development, Front-End Development and Mobile Development. I am most comfortable doing back end work however I am exploring more front-end development as of late. You can view a full briefing of my skills in the skills section. <b>Please keep in mind that I am still working on this site so some things may not currently be working.</b>  
  </p> 

  <h3>
      Work Experience  
  </h3>
  <h4>
      Avanade	 	 	 	 	 	 	                      June 2018-Present
  </h4>
  <ul>
    <li>
        Developing a custom Dynamics 365 solution within an Agile work environment. Development included writing CRM plugins in C#, writing Javascript embedded in CRM Forms and writing custom web resources using Javascript libraries such as JQuery and Kendo UI.
    </li>
    <li>
        Aiding in the design and creation of the CICD process within the project in TFS. Work included creating build and release definitions as well as assisting to define development process within multiple environments. Additional powershell scripts were written to automate installation and configuration of the project development environment.
    </li>
  </ul>
  <h3>
      Education  
  </h3>
  <h4>
      Carleton University	 	 	 	 	 	 	          September 2013-April 2018
  </h4>
  <p>
      Bachelor of Engineering, Software, Coop    
  </p> 
  <h3>
      Coop Positions  
  </h3>
  <h4>
      Core OS Developer                                                                                                               May 2017-August 2017
      Blackberry QNX, Kanata, Ontario       
  </h4>

      <ul>
        <li>
            Developing unit tests for the QNX Kernel in C in order to fulfill ISO 26262 safety compliance. Unit tests were additionally used a vehicle to gain comprehensive knowledge of the OS as well as through other developers, demos and documentation.
        </li>
        <li>
            Improving the unit test framework to support ARM and AARCH64 CPU architectures with knowledge of the GNU C compiler, Makefiles and Linux shell scripts. 
        </li>
        <li>
            Finding and documenting bugs in the Kernel.
        </li>
      </ul> 
 
  <h4>
      Integration Developer                                                                                              January 2016-December 2016
      TravelClick, Ottawa, Ontario           
  </h4>

      <ul>
        <li>
            Developing, installing and maintaining remote integrations for TravelClick GMS. Development was done using Java 8 in Eclipse using Git for version control. Often required analyzing data and writing queries to extract it.
        </li>
        <li>
            Development of TravelClick Abandonment services which would require writing Javascript to track users through the online booking process of a hotel using JQuery.
        </li>
        <li>
            Working on general tasks often requiring isolating and fixing software bugs or searching through large scale log archives on specific servers using bash.
        </li>
      </ul> 

  <h4>
      Avionics Software Tester                                                                                                     May 2015-August 2015
      Edgewater Computer Systems, Kanata, Ontario             
  </h4>

      <ul>
        <li>
            Writing C code to verify low level requirements for software developed by Edgewater Computer Systems. This testing was done so that the network card part of the CANIC project can become air-worthy by the D0-178B DAL C verification requirements. 
        </li>
      </ul> 
