.detailsRow{
    width: 100%;
    min-height: 350px;
    -moz-transition: all 5s !important;
    -ms-transition: all 5s !important;
    -o-transition: all 5s !important;
    -webkit-transition: all 5s !important;
    transition: all 5s !important;
    padding-top: 8%;
    font-size:14pt;
}

.collapse {
    -moz-transition: all 5s !important;
    -ms-transition: all 5s !important;
    -o-transition: all 5s !important;
    -webkit-transition: all 5s !important;
    transition: all 5s !important;
}

.collapse.show {
    -moz-transition: all 5s !important;
    -ms-transition: all 5s !important;
    -o-transition: all 5s !important;
    -webkit-transition: all 5s !important;
    transition: all 5s !important;
}
